
body{
    background: url(../images/WhatsApp\ Image\ 2025-01-09\ at\ 17.41.37_55acda8e.jpg);
    background-color:pink;
    
    margin=0;
    padding: 50px;
}
header{
    position:fixed;
    padding: 20px;
    display: flex;
    justify-content:center ;
    text-align:end;
    color:white;
    
    width: 90%;
   background-color: black;
}


ul {
    list-style: none;
    display: flex;
    justify-content:flex-end ;
    align-items: flex-end;
}
ul li {
    display: inline-block;
    padding: 0px 50px;
   
}
ul li a:hover{
    background-color: rgb(29, 17, 118);
}
#products {
    padding: 150px;
    display :flex;
    justify-content: space-around;
}
.product{
    border: 5px solid;
    margin:20px;
    border-radius: 10px;
    padding:50px;
    text-align: center;
}

button:hover{
    color:black;
    opacity: 70%;
}
footer{
    background-color: black;
    color:white;
    text-align: center;
    padding: 15px;
    position:fixed;
    bottom: 0;
    width: 90%;

}
.two{
    padding:30px;
}
.three{
    padding:20px;
}
.title{
    padding:10px 0px;
}
.date{
    padding: 30px 10px;
}
.title2{
    padding: 20px 10px;
}
.back{
    background-color: blue;
    padding:20px;
    color: white;
    border: none;
    border-radius: 20px;
    text-decoration: none;
}
.bu2{
    background-color: blue;
    padding:20px;
    color:white;
    border:none;
    border-radius: 20px;
    text-decoration: none;
}
button{
    padding:0px;
}
.bu>a{
    padding: 20px;
}
.bu{
    padding: 0%;
}

button{
    padding: 10%;
}
